*.iml
.gradle/
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/

gradle/wrapper/dists/
gradle/.tmp/
gradle/caches/
gradle/daemon/
gradle/native/
gradle/jdks/
gradle/android/
gradle/kotlin-profile/